
body{
    background: pink;
}



@media screen and (max-width: 1050px){
    #container{
        width: 400px;
    }
    #topics-list, main{
        float: none;
        width: 100%;
        padding: 10px 0;
    }
    * {
        max-width: 100%;
    }
}