body{
    background: pink;
    display: flex;
    flex-direction: column;
    align-items: center
}
#title{
    color: green;
}
#survey-form{
    padding: 10px;
}
#name{
    margin: 10px;
    padding: 10px;
    width: 150px;
    height: 10px;
}

#email{
    margin: 10px;
    padding: 10px;
    width: 150px;
    height: 10px;
}

#number{
    margin: 10px;
    padding: 10px;
    width: 150px;
    height: 10px;
}
#dropdown{
    margin: 10px;
    padding: 10px;
    width: 150px;
    height: 10px;
    font-size: 30px;
}

#submit{
    margin: 10px;
    padding: 2px;
    width: 80px;
    height: 25px;
    font-size: 18px;
}
input[type=text],
input[type=email],
input[type=number]{
    margin: 10px;
    padding: 10px;
    width: 150px;
    height: 10px;
}