*{
    box-sizing: border-box;
}
li{
    height: 40px;
}
.info{
    padding: 5px;
}
.editer{
    background-color: green;
    max-width: 50px;
    padding: 2px;
    color: white;
    font-size: 0.5em;
    margin: 0 2px;
}
.del{
    background-color: red;
    max-width: 50px;
    padding: 2px;
    color: white;
    font-size: 0.5em;
    margin: 0 2px;

}