body{
    margin: 0px;
    background: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header{
    background: #d0ffe5;
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-img{
    width: 300px;
    height: 120px;
}
#nav-bar{
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    color: red;
    justify-content: center;
    align-items: center;
}

#video{
    width: 500px;
    height:200px;
}
#form{
    padding: 20px;
}
#email{
    width: 300px;
    height: 30px;
    margin: 20px;
    font-size: 20px;
}
#submit{
    width: 100px;
    height: 30px;
    margin: 20px;
    justify-content: center;
    align-items: center;
}