body{
    background-color: rgb(160, 110, 45);
}
/* .output{
    display: flex;
    flex-direction: row;
} */
/* .textarea{
    width: 100px;
    height: 20px;
    margin: 10px;
    font-size: 30px;
    margin: 5px;
    padding: 10px ; 
} 
.box{
    width: 100px;
    height: 30px;
    font-size: 25px;
    margin: 5px;
    padding:10px ;
    border-radius: 20px;
}


.btn{
    width: 25vw;
    height: 30px;
    margin: 5px;
    font-size: 20px;
    border-radius: 20px;
}
.textbtn{
    width: 25vw;
    height: 30px;
    margin: 5px;
    font-size: 20px;
    border-radius: 20px;
} */